In [1]:
from powerbiclient import QuickVisualize, get_dataset_config
from powerbiclient.authentication import DeviceCodeLoginAuthentication
import pandas as pd

In [15]:
# fazer a leitura dos dados
df = pd.read_csv('https://github.com/italomarcelogit/scripts-diversos/raw/master/dataset-sales-random/ds-sales-diverso.csv')
df.head(6)

,EMPRESA,CARTEIRA,REF,P,M,G,META,REALIZADO,TM,TC,TARGET
0,1,1,2018-01-01,12,2,0,100000,129998,9286,14,1
1,1,2,2018-01-01,18,2,0,100000,81997,4100,20,0
2,1,3,2018-01-01,6,1,1,70000,89998,11250,8,1
3,1,4,2018-01-01,20,2,1,100000,109999,4783,23,1
4,1,5,2018-01-01,12,1,0,70000,49999,3846,13,0
5,1,6,2018-01-01,8,2,0,70000,120000,12000,10,1

In [16]:
# re-gerando o dataframe:
# - sem as colunas EMPRESA e TC
# - somente os dados com TM (tícket médio) > maior que 5k
df = df.drop(['EMPRESA', 'TC'], axis=1)
df = df.loc[df['TM'] > 5000]
df.head(6)

    CARTEIRA         REF   P  M  G    META  REALIZADO     TM  TARGET
0          1  2018-01-01  12  2  0  100000     129998   9286       1
2          3  2018-01-01   6  1  1   70000      89998  11250       1
5          6  2018-01-01   8  2  0   70000     120000  12000       1
8          3  2018-02-01  10  2  0   70000      99000   8250       1
10         5  2018-02-01  12  0  0   70000      71999   6000       1
11         6  2018-02-01  10  0  0   70000     105000  10500       1

In [3]:
# autenticação microsoft Power BI   
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code RT5RNP2QT to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [21]:
# gerar um report 
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)

In [22]:
# visualizar o report
PBI_visualize

QuickVisualize()